{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Agents API",
    "description" : "Conversation and messaging service for jorisjonkers.dev",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://agents.jorisjonkers.dev",
    "description" : "Production"
  }, {
    "url" : "http://localhost:8082",
    "description" : "Local development"
  } ],
  "security" : [ {
    "xUserId" : [ ]
  } ],
  "paths" : {
    "/api/v1/workspaces" : {
      "get" : {
        "tags" : [ "workspace-controller" ],
        "operationId" : "list",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WorkspaceResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "workspace-controller" ],
        "operationId" : "create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/sessions" : {
      "post" : {
        "tags" : [ "agent-session-controller" ],
        "operationId" : "start",
        "parameters" : [ {
          "name" : "workspaceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartAgentSessionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string",
                    "format" : "uuid"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/sessions/{sessionId}/staged-inputs" : {
      "post" : {
        "tags" : [ "agent-session-controller" ],
        "operationId" : "stageInput",
        "parameters" : [ {
          "name" : "workspaceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "sessionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StageInputRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StagedInputResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/sessions/{sessionId}/restart" : {
      "post" : {
        "tags" : [ "agent-session-controller" ],
        "operationId" : "restart",
        "parameters" : [ {
          "name" : "workspaceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "sessionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RestartAgentSessionHttpRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RestartAgentSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/sessions/{sessionId}/input" : {
      "post" : {
        "tags" : [ "agent-session-controller" ],
        "operationId" : "send",
        "parameters" : [ {
          "name" : "workspaceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "sessionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendUserInputRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/git/open-pr" : {
      "post" : {
        "tags" : [ "git-controller" ],
        "operationId" : "openPr",
        "parameters" : [ {
          "name" : "workspaceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OpenPrRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/repositories" : {
      "post" : {
        "tags" : [ "workspace-controller" ],
        "operationId" : "attachRepository",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachWorkspaceRepositoryRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/api/v1/repositories" : {
      "get" : {
        "tags" : [ "repository-controller" ],
        "operationId" : "list_1",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RepositoryResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "repository-controller" ],
        "operationId" : "create_1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateRepositoryRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RepositoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/repositories/{id}/verify" : {
      "post" : {
        "tags" : [ "repository-controller" ],
        "operationId" : "verify",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RepositoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/repositories/{id}/key" : {
      "post" : {
        "tags" : [ "repository-controller" ],
        "operationId" : "attachKey",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachRepositoryDeployKeyRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/projects" : {
      "get" : {
        "tags" : [ "project-controller" ],
        "operationId" : "list_2",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "project-controller" ],
        "operationId" : "create_2",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateProjectRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/links/{linkId}/key" : {
      "post" : {
        "tags" : [ "project-controller" ],
        "operationId" : "attachKey_1",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "linkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AttachDeployKeyRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/projects/{id}/repositories" : {
      "post" : {
        "tags" : [ "project-controller" ],
        "operationId" : "linkRepository",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LinkRepositoryRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RepositoryResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{id}/links" : {
      "post" : {
        "tags" : [ "project-controller" ],
        "operationId" : "addLink",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddGithubLinkRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GithubLinkResponse"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/api/v1/conversations" : {
      "get" : {
        "tags" : [ "conversation-controller" ],
        "operationId" : "listByUser",
        "parameters" : [ {
          "name" : "X-User-Id",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ConversationResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "conversation-controller" ],
        "operationId" : "create_3",
        "parameters" : [ {
          "name" : "X-User-Id",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateConversationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/{conversationId}/messages" : {
      "get" : {
        "tags" : [ "message-controller" ],
        "operationId" : "list_3",
        "parameters" : [ {
          "name" : "conversationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/MessageResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "message-controller" ],
        "operationId" : "send_1",
        "parameters" : [ {
          "name" : "conversationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "X-User-Id",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SendMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat-sessions" : {
      "get" : {
        "tags" : [ "chat-session-controller" ],
        "operationId" : "list_4",
        "parameters" : [ {
          "name" : "X-User-Id",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ChatSessionResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "chat-session-controller" ],
        "operationId" : "create_4",
        "parameters" : [ {
          "name" : "X-User-Id",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/StartChatSessionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chat-sessions/{id}/messages" : {
      "post" : {
        "tags" : [ "chat-session-controller" ],
        "operationId" : "appendMessage",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AppendChatMessageRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/sessions/{sessionId}/turns" : {
      "get" : {
        "tags" : [ "agent-session-controller" ],
        "operationId" : "turns",
        "parameters" : [ {
          "name" : "workspaceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "sessionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TurnResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/workspaces/{id}" : {
      "get" : {
        "tags" : [ "workspace-controller" ],
        "operationId" : "get",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceDetailResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "workspace-controller" ],
        "operationId" : "destroy",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/repositories/{id}" : {
      "get" : {
        "tags" : [ "repository-controller" ],
        "operationId" : "get_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "repository-controller" ],
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/links/{linkId}/setup-guide" : {
      "get" : {
        "tags" : [ "setup-guide-controller" ],
        "operationId" : "guide",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "linkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "text/markdown" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{id}" : {
      "get" : {
        "tags" : [ "project-controller" ],
        "operationId" : "get_2",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health" : {
      "get" : {
        "tags" : [ "health-controller" ],
        "operationId" : "health",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/{id}" : {
      "get" : {
        "tags" : [ "conversation-controller" ],
        "operationId" : "getById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "conversation-controller" ],
        "operationId" : "archive",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "X-User-Id",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/api/v1/chat-sessions/{id}" : {
      "get" : {
        "tags" : [ "chat-session-controller" ],
        "operationId" : "get_3",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : { }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "chat-session-controller" ],
        "operationId" : "archive_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "X-User-Id",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/workspaces/{workspaceId}/sessions/{sessionId}" : {
      "delete" : {
        "tags" : [ "agent-session-controller" ],
        "operationId" : "stop",
        "parameters" : [ {
          "name" : "workspaceId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "sessionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/workspaces/{id}/repositories/{repoId}" : {
      "delete" : {
        "tags" : [ "workspace-controller" ],
        "operationId" : "detachRepository",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "repoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/projects/{projectId}/links/{linkId}" : {
      "delete" : {
        "tags" : [ "project-controller" ],
        "operationId" : "removeLink",
        "parameters" : [ {
          "name" : "projectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "linkId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/api/v1/projects/{id}/repositories/{repoId}" : {
      "delete" : {
        "tags" : [ "project-controller" ],
        "operationId" : "unlinkRepository",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        }, {
          "name" : "repoId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "CreateWorkspaceRequest" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "maxLength" : 80,
            "minLength" : 1
          },
          "repoUrl" : {
            "type" : [ "string", "null" ]
          },
          "branch" : {
            "type" : [ "string", "null" ]
          },
          "kind" : {
            "type" : "string",
            "enum" : [ "REPO_BACKED", "SCRATCH", "CHAT" ]
          },
          "projectId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          },
          "repositoryId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          },
          "primaryRepositoryId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          },
          "repositoryIds" : {
            "type" : [ "array", "null" ],
            "items" : {
              "type" : "string",
              "format" : "uuid"
            }
          },
          "githubLinkId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid",
            "deprecated" : true,
            "description" : "Use repositoryId"
          }
        },
        "required" : [ "kind", "name" ]
      },
      "WorkspaceResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "name" : {
            "type" : "string"
          },
          "repoUrl" : {
            "type" : [ "string", "null" ]
          },
          "branch" : {
            "type" : [ "string", "null" ]
          },
          "podName" : {
            "type" : [ "string", "null" ]
          },
          "gatewayEndpoint" : {
            "type" : [ "string", "null" ]
          },
          "status" : {
            "type" : "string"
          },
          "kind" : {
            "type" : "string"
          },
          "projectId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          },
          "repositoryId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          },
          "githubLinkId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "createdAt", "id", "kind", "name", "status", "updatedAt" ]
      },
      "StartAgentSessionRequest" : {
        "type" : "object",
        "properties" : {
          "kind" : {
            "type" : "string",
            "enum" : [ "CLAUDE", "CODEX", "SHELL" ]
          }
        },
        "required" : [ "kind" ]
      },
      "StageInputRequest" : {
        "type" : "object",
        "properties" : {
          "content" : {
            "type" : "string"
          },
          "name" : {
            "type" : [ "string", "null" ]
          }
        },
        "required" : [ "content" ]
      },
      "StagedInputResponse" : {
        "type" : "object",
        "properties" : {
          "path" : {
            "type" : "string"
          },
          "bytes" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          }
        },
        "required" : [ "bytes", "name", "path" ]
      },
      "RestartAgentSessionHttpRequest" : {
        "type" : "object",
        "properties" : {
          "expectedGeneration" : {
            "type" : [ "integer", "null" ],
            "format" : "int64"
          }
        }
      },
      "RestartAgentSessionResponse" : {
        "type" : "object",
        "properties" : {
          "sessionId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "epoch" : {
            "type" : "integer",
            "format" : "int64"
          },
          "generation" : {
            "type" : "integer",
            "format" : "int64"
          },
          "status" : {
            "type" : "string"
          }
        },
        "required" : [ "epoch", "generation", "sessionId", "status" ]
      },
      "SendUserInputRequest" : {
        "type" : "object",
        "properties" : {
          "text" : {
            "type" : "string"
          },
          "enter" : {
            "type" : "boolean"
          }
        },
        "required" : [ "enter", "text" ]
      },
      "OpenPrRequest" : {
        "type" : "object",
        "properties" : {
          "repoDir" : {
            "type" : "string"
          },
          "title" : {
            "type" : "string"
          },
          "body" : {
            "type" : "string"
          },
          "base" : {
            "type" : "string"
          }
        },
        "required" : [ "base", "body", "repoDir", "title" ]
      },
      "AttachWorkspaceRepositoryRequest" : {
        "type" : "object",
        "properties" : {
          "repositoryId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          }
        },
        "required" : [ "repositoryId" ]
      },
      "CreateRepositoryRequest" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "maxLength" : 80,
            "minLength" : 1
          },
          "repoUrl" : {
            "type" : "string",
            "minLength" : 1
          },
          "defaultBranch" : {
            "type" : "string"
          }
        },
        "required" : [ "defaultBranch", "name", "repoUrl" ]
      },
      "AccessVerificationResponse" : {
        "type" : "object",
        "properties" : {
          "read" : {
            "type" : [ "boolean", "null" ]
          },
          "write" : {
            "type" : [ "boolean", "null" ]
          },
          "defaultBranchProtected" : {
            "type" : [ "boolean", "null" ]
          },
          "checkedAt" : {
            "type" : [ "string", "null" ],
            "format" : "date-time"
          },
          "messages" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "required" : [ "messages" ]
      },
      "RepositoryResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "name" : {
            "type" : "string"
          },
          "repoUrl" : {
            "type" : "string"
          },
          "defaultBranch" : {
            "type" : "string"
          },
          "vaultKeyPath" : {
            "type" : "string"
          },
          "deployKeyFingerprint" : {
            "type" : [ "string", "null" ]
          },
          "deployKeyAddedAt" : {
            "type" : [ "string", "null" ],
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "verification" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/AccessVerificationResponse"
            }, {
              "type" : "null"
            } ]
          }
        },
        "required" : [ "createdAt", "defaultBranch", "id", "name", "repoUrl", "updatedAt", "vaultKeyPath" ]
      },
      "AttachRepositoryDeployKeyRequest" : {
        "type" : "object",
        "properties" : {
          "privateKeyOpenssh" : {
            "type" : "string",
            "minLength" : 1
          },
          "publicKeyOpenssh" : {
            "type" : "string",
            "minLength" : 1
          },
          "knownHosts" : {
            "type" : [ "string", "null" ]
          }
        },
        "required" : [ "privateKeyOpenssh", "publicKeyOpenssh" ]
      },
      "CreateProjectRequest" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "maxLength" : 80,
            "minLength" : 1
          },
          "slug" : {
            "type" : "string",
            "pattern" : "^[a-z0-9][a-z0-9-]{0,62}$"
          },
          "description" : {
            "type" : [ "string", "null" ],
            "maxLength" : 1000,
            "minLength" : 0
          }
        },
        "required" : [ "name", "slug" ]
      },
      "ProjectResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "name" : {
            "type" : "string"
          },
          "slug" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "createdAt", "description", "id", "name", "slug", "updatedAt" ]
      },
      "AttachDeployKeyRequest" : {
        "type" : "object",
        "properties" : {
          "privateKeyOpenssh" : {
            "type" : "string",
            "minLength" : 1
          },
          "publicKeyOpenssh" : {
            "type" : "string",
            "minLength" : 1
          },
          "knownHosts" : {
            "type" : [ "string", "null" ]
          }
        },
        "required" : [ "privateKeyOpenssh", "publicKeyOpenssh" ]
      },
      "LinkRepositoryRequest" : {
        "type" : "object",
        "properties" : {
          "repositoryId" : {
            "type" : "string",
            "format" : "uuid"
          }
        },
        "required" : [ "repositoryId" ]
      },
      "AddGithubLinkRequest" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string",
            "minLength" : 1
          },
          "repoUrl" : {
            "type" : "string",
            "minLength" : 1
          },
          "defaultBranch" : {
            "type" : "string"
          }
        },
        "required" : [ "defaultBranch", "name", "repoUrl" ]
      },
      "GithubLinkResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "projectId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "name" : {
            "type" : "string"
          },
          "repoUrl" : {
            "type" : "string"
          },
          "defaultBranch" : {
            "type" : "string"
          },
          "vaultKeyPath" : {
            "type" : "string"
          },
          "deployKeyFingerprint" : {
            "type" : [ "string", "null" ]
          },
          "deployKeyAddedAt" : {
            "type" : [ "string", "null" ],
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "createdAt", "defaultBranch", "id", "name", "projectId", "repoUrl", "updatedAt", "vaultKeyPath" ]
      },
      "CreateConversationRequest" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : "string",
            "maxLength" : 200,
            "minLength" : 0
          }
        },
        "required" : [ "title" ]
      },
      "ConversationResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "userId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "title" : {
            "type" : "string"
          },
          "status" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "createdAt", "id", "status", "title", "updatedAt", "userId" ]
      },
      "SendMessageRequest" : {
        "type" : "object",
        "properties" : {
          "content" : {
            "type" : "string",
            "maxLength" : 10000,
            "minLength" : 0
          }
        },
        "required" : [ "content" ]
      },
      "MessageResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "conversationId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "role" : {
            "type" : "string"
          },
          "content" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "content", "conversationId", "createdAt", "id", "role" ]
      },
      "StartChatSessionRequest" : {
        "type" : "object",
        "properties" : {
          "title" : {
            "type" : [ "string", "null" ],
            "maxLength" : 120,
            "minLength" : 0
          },
          "kind" : {
            "type" : [ "string", "null" ],
            "enum" : [ "PLAIN", "KNOWLEDGE" ]
          }
        }
      },
      "ChatSessionResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "userId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "title" : {
            "type" : [ "string", "null" ]
          },
          "status" : {
            "type" : "string"
          },
          "kind" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "createdAt", "id", "kind", "status", "updatedAt", "userId" ]
      },
      "AppendChatMessageRequest" : {
        "type" : "object",
        "properties" : {
          "body" : {
            "type" : "string",
            "minLength" : 1
          },
          "role" : {
            "type" : "string",
            "enum" : [ "USER", "ASSISTANT", "SYSTEM" ]
          }
        },
        "required" : [ "body", "role" ]
      },
      "ChatMessageResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "sessionId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "role" : {
            "type" : "string"
          },
          "body" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "body", "createdAt", "id", "role", "sessionId" ]
      },
      "TurnResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "sessionId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "role" : {
            "type" : "string"
          },
          "body" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "body", "createdAt", "id", "role", "sessionId" ]
      },
      "WorkspaceAgentSessionResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "workspaceId" : {
            "type" : "string",
            "format" : "uuid"
          },
          "kind" : {
            "type" : "string",
            "enum" : [ "CLAUDE", "CODEX", "SHELL" ]
          },
          "gatewayAgentId" : {
            "type" : [ "string", "null" ]
          },
          "status" : {
            "type" : "string"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "createdAt", "id", "kind", "status", "updatedAt", "workspaceId" ]
      },
      "WorkspaceDetailResponse" : {
        "type" : "object",
        "properties" : {
          "workspace" : {
            "$ref" : "#/components/schemas/WorkspaceWithRepositoriesResponse"
          },
          "sessions" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/WorkspaceAgentSessionResponse"
            }
          }
        },
        "required" : [ "sessions", "workspace" ]
      },
      "WorkspaceRepositoryResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "name" : {
            "type" : "string"
          },
          "isPrimary" : {
            "type" : "boolean"
          },
          "attachedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "repoUrl" : {
            "type" : "string"
          },
          "defaultBranch" : {
            "type" : "string"
          },
          "vaultKeyPath" : {
            "type" : "string"
          },
          "deployKeyFingerprint" : {
            "type" : [ "string", "null" ]
          },
          "deployKeyAddedAt" : {
            "type" : [ "string", "null" ],
            "format" : "date-time"
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "verification" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/AccessVerificationResponse"
            }, {
              "type" : "null"
            } ]
          }
        },
        "required" : [ "attachedAt", "createdAt", "defaultBranch", "id", "isPrimary", "name", "repoUrl", "updatedAt", "vaultKeyPath" ]
      },
      "WorkspaceWithRepositoriesResponse" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid"
          },
          "name" : {
            "type" : "string"
          },
          "repoUrl" : {
            "type" : [ "string", "null" ]
          },
          "branch" : {
            "type" : [ "string", "null" ]
          },
          "podName" : {
            "type" : [ "string", "null" ]
          },
          "gatewayEndpoint" : {
            "type" : [ "string", "null" ]
          },
          "status" : {
            "type" : "string"
          },
          "kind" : {
            "type" : "string"
          },
          "projectId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          },
          "repositoryId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          },
          "githubLinkId" : {
            "type" : [ "string", "null" ],
            "format" : "uuid"
          },
          "repositories" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/WorkspaceRepositoryResponse"
            }
          },
          "createdAt" : {
            "type" : "string",
            "format" : "date-time"
          },
          "updatedAt" : {
            "type" : "string",
            "format" : "date-time"
          }
        },
        "required" : [ "createdAt", "id", "kind", "name", "repositories", "status", "updatedAt" ]
      }
    },
    "securitySchemes" : {
      "xUserId" : {
        "type" : "apiKey",
        "description" : "User identifier injected by Traefik forward-auth",
        "name" : "X-User-Id",
        "in" : "header"
      }
    }
  }
}
